<h1>Contact</h1>

<h3><%= "First name: #{@first_name}" %></h3>
<h3><%= "Last name: #{@last_name}" %></h3>
<h3><%= "Job Title: #{@job_title}" %></h3>
<h3><%= "Company: #{@company}" %></h3>
<h3>Phone number list</h3>
<ul>
  <% @phone_number.each do |number| %>
    <li> <%= number.number %></li>
  <%end%>
</ul>
<form class="" action="/add_number/<%= @id %>" method="post">
  <label for="">Add Number:</label>
  <input type="text" name="phone" value="">
  <div class="">
    <button type="submit" name="button">Add</button>
  </div>
</form>
<h3>Email list: </h3>
<% @email_address.each do |email| %><ul><%= "Email: #{email.email_address}" %></ul><%end%>
<form class="" action="/add_email/<%= @id %>" method="post">
  <label for="">Add Email:</label>
  <input type="text" name="email" value="">
  <div class="">
    <button type="submit" name="button">Add</button>
  </div>
</form>
<h3>Mailing list: </h3>
  <% @mailing_address.each do |mail| %>
  <ul>
    <li><%= mail.street_address %></li>
    <li><%= mail.city %></li>
    <li><%= mail.state %></li>
    <li><%= mail.zip %></li>
    <li><%= mail.type %></li>
  </ul>
  <%end%>
<h3>Add Address:</h3>
<form class="" action="/add_mail/<%= @id %>" method="post">
  <label for="">Street address:</label>
  <input type="text" name="street_address" value=""><br>
  <label for="">City:</label>
  <input type="text" name="city" value=""><br>
  <label for="">State:</label>
  <input type="text" name="state" value=""><br>
  <label for="">Zip:</label>
  <input type="text" name="zip" value=""><br>
  <label for="">type:</label>
  <input type="text" name="type" value=""><br>
  <div class="">
    <button type="submit" name="button">Add</button>
  </div>
</form>

<a href="/">Home</a>
